body{
    background-image: url("../images/grey_wash.png");
    font-family: 'PT Serif', serif;
}
#portfolio-pic{
    height: 200px;
    width: 200px;
    margin-top: 15px;
}
#header{
    background-color: rgb(68, 63, 145);
    margin-bottom: 2px;
}
h2{
    background-color: rgb(68, 63, 145);
    font-size: 32px;
    text-align: center;
}
nav.nav-extended .nav-wrapper {
    height: 215px;
    background-color: rgb(68, 63, 145);
}
.nav-content{
    background-color: rgb(68, 63, 145);
}
nav{
    background-color: transparent;
}
#about-contain{
    border: solid white;
    color: white;
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 10px;
}
#exp-contain{
    border: solid white;
    color: white;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.568);
    border-radius: 10px;
}
h3 {
   color: rgb(68, 63, 145)
}
.about-para{
    font-size: 22px;
    line-height: 1.5;
}
.card{
    width: 33%;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}
#project1{
    width: 33%;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}
#project2{
    width: 33%;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}
#project3{
    width: 33%;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.card-content{
    background-color: rgb(180, 180, 180);
}
.card-info{
    margin-top: 10px;
    margin-bottom: 10px;
}
.card .card-reveal{
    background-color: grey;
}
.card .card-image img{
    height: 225px;
}
#contact-contain{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.473);
    border: solid white;
    border-radius: 10px;
    color: white;
}
h6{
    margin-bottom: 10px;
}
.contact-item{
    margin-top: 15px;
}
#profile-contain{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.473);
    border: solid white;
    border-radius: 10px;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}
@media screen and (max-width: 820px){
    .card{width: 49.5%}
}
@media screen and (max-width: 480px) {
    .card{width: 100%}
    #project1{width: 100%}
    #project2{width: 100%}
}